{# 
blueprint/admin/templates/admin/all_users_info.html
#}

{% extends 'admin/base_admin_page.html' %}

{% block title %}
Know all user list and details
{% endblock %}

{% block content %}

<h1>All The User & Their Details are showing below</h1>
<hr>


{% for user in all_users %}
UserID: {{ user.user_id }}
<br>
Full Name: {{ user.first_name + " " + user.last_name }}
<br>
UserName: {{ user.username }}
<br>
Email ID: {{ user.email_id }}
<br>
Phone Number: {{ user.phone_no }}
<br>
<hr>

{% else %}
Here is 0 Users Total

{% endfor %}



{% endblock %}