{% import 'macros_admin/navbar.html' as nav with context %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Admin Title Defaults
        {% endblock %}
    </title>
</head>

<body>
    {{ nav.admin_navbar() }}
    <header>
        <h1>
            This is Admin Page
        </h1>
    </header>

    <main>
        <hr>
        {% block content %}

        {% endblock %}
        <hr>
    </main>

</body>

</html>