{# This is blueprint/admin/templates/admin/users_info.html #}

{% extends 'admin/base_admin_page.html' %}

{% block title %}
See Total NOtes Number
{% endblock %}

{% block content %}
<h1>The Details Of the searching user will show here...</h1>
<br>

{% if user %}

<p>
    <strong> UserName: </strong> {{ user.username }}
    <br>
    <strong> User ID: </strong> {{ user.user_id }}
    <br>
    <strong> Name: </strong> {{ user.first_name + " " + user.last_name}}
    <br>
    <strong> Email ID: </strong> {{ user.email_id }}
    <br>
    <strong> Phone Number: </strong> {{ user.phone_no }}
    <br>


<h2>His Notes</h2>


{% if notes %}

{% for note in notes %}
<hr>
<strong>{{ loop.index }}. <u>{{note.note_title}} 👇🏼</u></strong>
<br>
<strong>Note Content: →</strong> {{note.note_content}}
<hr>
{% endfor %}



{% else %}
<h3>He Has 0 Notes</h3>
{% endif %}



{% else %}
<p>No users found with given username.</p>

{% endif %}



{% endblock %}