{#
This is navbar.html in the macros folder
current_user.is_authenticated will come from the context with
when i will call the navbar.html
#}

{% macro navbar() %}
<nav class="nav-bar">
    <a href="{{ url_for('general_bp.index_page') }}">🏠 Home</a>
    <a href="{{ url_for('general_bp.about_page') }}">ℹ️ About Us</a>
    <a href="{{ url_for('general_bp.help_page') }}">🆘 Help</a>
    <a href="{{ url_for('profile_bp.dashboard') }}">📊 Dashboard</a>
    <a href="{{ url_for('profile_bp.profile') }}">🙎‍♂ Profile</a>
    <a href=" {{ url_for('note_bp.add_note') }} ">➕ New Note</a>

    {% if current_user.is_authenticated %}
    <a href="{{ url_for('auth_bp.logout') }}">Log Out 🚪</a>
    {% else %}
    <a href="{{ url_for('auth_bp.login') }}">🔑 Login</a>
    <a href="{{ url_for('auth_bp.register') }}">📝 Register</a>
    {% endif %}

</nav>
{% endmacro %}