{#
This is navbar.html in the macros folder
current_user.is_authenticated will come from the context with
when i will call the navbar.html
#}

{% macro navbar() %}
<nav class="nav-bar">
    <a href="{{ url_for('index_page') }}">🏠 Home</a>
    <a href="{{ url_for('about_page') }}">ℹ️ About Us</a>
    <a href="{{ url_for('help_page') }}">🆘 Help</a>
    <a href="{{ url_for('dashboard') }}">📊 Dashboard</a>
    <a href="{{ url_for('profile') }}">🙎‍♂ Profile</a>
    <a href=" {{ url_for('add_note') }} ">➕ New Note</a>

    {% if current_user.is_authenticated %}
    <a href="{{ url_for('logout') }}">Log Out 🚪</a>
    {% else %}
    <a href="{{ url_for('login') }}">🔑 Login</a>
    <a href="{{ url_for('register') }}">📝 Register</a>
    {% endif %}

</nav>
{% endmacro %}