{# 
This is templatex/macros/table.html file
I make this for a demo macro checking only
#}



{# i am getting this below loop idea from teh https://tedboy.github.io/jinja2/templ11.html #}
{% macro demo_table(word) %}

<table>
    <tr>
        <th>Numbering</th>
        <th>Alphabets</th>
    </tr>

    {% for ch in word %}
    <tr>
        <td> {{ loop.index }} </td>
        <td> {{ ch * loop.index }} </td>
    </tr>
    {% endfor %}

</table>
{% endmacro %}




{# Below is the old jinja macros i made previously #}

{% macro demo_table_1() %}

<table>
    <tr>
        <th>1st Column</th>
        <th>2nd Column</th>
    </tr>
    <tr>
        <td>Row 1, Cell 1</td>
        <td>Row 1, Cell 2</td>
    </tr>
    <tr>
        <td>Row 2, Cell 1</td>
        <td>Row 2, Cell 2</td>
    </tr>
    <tr>
        <td>Row 3, Cell 1</td>
        <td>Row 3, Cell 2</td>
    </tr>
</table>

{% endmacro %}


{% macro demo_table_2(row_count) %}

<table>
    <tr>
        <th>1st Column</th>
        <th>2nd Column</th>
    </tr>
    {% for i in range(1, row_count+1) %}
    <tr>
        <td>
            Row {{i}}, Cell 1
        </td>
        <td>
            Row {{i}}, Cell 2
        </td>
    </tr>
    {% endfor %}
</table>

{% endmacro %}