{#
blueprint/admin/templates/macros/navbar.html

i am making this so that i can have some admin related thigns here for easily accessable.

#}

{% macro admin_navbar() %}
<a href="{{ url_for('general_bp.index_page') }}">🏠 Home</a>
<br>
<a href="{{ url_for('admin_bp.index_page') }}">🛠️ Admin Dashboard</a>
<br>
<a href="{{ url_for('admin_bp.all_users_info') }}">👥 All Users</a>
<br>
<a href="{{ url_for('admin_bp.note_count') }}">🗒️ Notes Overview</a>
<br>
<a href="{{ url_for('admin_bp.username') }}">🔍 User Details</a>
<br>
{% endmacro %}