{% import 'macros/navbar.html' as nav %}
{% import 'macros/table.html' as tab %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>

        {% block title %}
        My Note Making Application
        {% endblock %}

    </title>
</head>

<body>

    <header>
        <h1>📝 Note Writing Application 📓</h1>

        {{ nav.navbar() }}

    </header>

    <h3>Write Your Information here...</h3>

    <main>
        <hr>

        {% block content %}
        {% endblock %}

        <hr>

        {{ tab.demo_table() }}
    </main>

</body>

</html>