{# This is the base_static_file.html #}

{% import 'macros/navbar.html' as nav with context %}
{% import 'macros/table.html' as tab %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>

        {% block title %}
        My Note Making Application
        {% endblock %}

    </title>
</head>

<body>

    <header>
        <h1>📝 Note Writing Application 📓</h1>

        {{ nav.navbar() }}

    </header>

    <h3>Write Your Information here...</h3>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-container">
        {% for message in messages %}
        <div class="flash-message">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}



    <main>
        <hr>

        {% block content %}
        {% endblock %}

        <hr>


        Path and Strip is: {{ request.path.strip("/") or "Home Page" }}
        <br>
        Path is: {{ request.path }}
        <br>
        Endpint is: {{ request.endpoint }}
        <br>


        {# Below is the actual table #}
        {{ tab.demo_table(request.path.strip("/") or "Home Page") }}
    </main>

</body>

</html>