{#
This code is dashboard.html
This is the place where the user will see the page after he login successfully
Here i used the current_user.somethings below

It need 'notes' variable...
#}
{% extends 'base_static_file.html' %}

{% block title %}
This is the Dashboard
{% endblock %}

{% block content %}
<h1>Welcome To The Dashboard Section</h1>

<h1>Your Notes:</h1>


{% if notes %}
<ul>
    {% for note in notes %}
    <li>
        <strong> {{ note.title }} </strong>
        <br>
        {{ note.content }}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No Notes Yet ❌</p>

{% endif %}



{% endblock %}