{# 
This is the login.html page 
I need to pass the value of 'form'
#}

{% extends 'base_static_file.html' %}

{% block title %}
Login Page is this
{% endblock %}


{% block content %}
<h2>Enter Your Login Credentials Below</h2>

{#
<!-- <form method="POST" action="{{ url_for('login') }}"> -->
#}

<form method="POST" action="{{ url_for('login', next=request.args.get('next')) }}">


    {{ form.hidden_tag() }}

    <p>
        {{ form.username.label }} <br>
        {{ form.username(size=32) }}
    </p>

    <p>
        {{ form.password.label }} <br>
        {{ form.password(size=32) }}
    </p>

    <p>
        {{ form.submit() }}
    </p>

</form>
{% endblock %}