{#
This is new_note_form.html this will be used to create the new note
form which will take info from user and it will
submit in the server. #}

{% extends 'base_static_file.html' %}

{% block title %}
Make a new Note
{% endblock %}


{% block content%}

<form action="{{ url_for('add_note')}}" method="post">

    {{ form.hidden_tag() }}

    <p>
        {{ form.title.label }}<br>
        {{ form.title(size=32) }}
    </p>

    <p>
        {{ form.content.label }} <br>
        {{ form.content(size=32) }}
    </p>

    <p>
        {{ form.submit() }}
    </p>
</form>

{% endblock %}